*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FEC7D7;

}
.container{  
    display: flex;
    flex-flow: wrap column;
    width: 100%;
    margin: auto;
    background-color: #FEC7D7;
}
/* Contenido */
.content{
    display: flex;
    flex-flow: wrap column;

}
#title{
    color: #0E172C;
    font-style: normal;
    font-weight:800;
    font-size: 24px;
    line-height: 33px;
    margin: 24px;
}
#description{
    color: #0E172C;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;

}
#categoria{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}
.divCategoria{
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    height: 80px;
    align-items: center;
    background-color: #0E172C;
    justify-content: space-evenly;
    border-radius: 10px;
    color: #FFFFFE;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.circle{
    background-color: #85D1CE;
    border-radius: 50px;
    padding: 10px;
}

/* Nav */
#fixed{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFE;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
.activo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    color: #85D1CE;
    background-color: #0E172C;
    padding: 17px 20px;
    border-radius: 50px;
}
.activoImg{
    margin-right: 8px;
}

.contact{
    display: flex;
    flex-flow: row wrap;
    width: 24px;
    height: 26px;
    text-align: center;
    justify-content: center;
    margin-bottom: 8px;
}
.bodyIconCont{
    bottom: 10px;
    position: relative;
}
.color{
    color: aqua;
}
.ocultar{
    background-color: black;
}

/* Creando tarjetas de perritos */
#pets{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 0;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: space-evenly;
}
.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 91.270%;
    height: 250px;
    border-radius: 16px;
    margin-top: 15px;
    margin: auto;
}
.cardGrad{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.42%, #000000 99.33%);
    border-radius: 16px;
    height: 250px;
    /* para el texto */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.nombre{
    display: block;
    margin-left: 20px;
    font-weight: 700;
    font-weight: bold;
}
.race{
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-weight: normal;
    
}
/* Agregando margin-top a las tarjetas pares*/
.cardPar{
    margin-top: 40px;
}
.cardImpar{
    margin-top: 1px;
}
/* Css para detalle */
.dFondo{
    background-position: center;
    background-size: cover;
    height: 420px;
}
.dDevolver{
    position: relative;
    background-image: url('/img/devolver.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    left: 20px;
    top:20px;
    background-color: #0E172C;
    border: none;
    border-radius: 100px;
}
.dDescription{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 60%;
    padding: 20px;
    background-color: #FFFFFE;
    border-radius: 16px 16px 0px 0px;
}
.dUno{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.dImgGenero{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.dFavorito{
    background-image: url("../img/favoritoI.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 20px;
    position: absolute;
    right: 27px;
}
.dDos{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 50%;
    margin-bottom: 15px;
}
.dTres{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.dCuatro{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    justify-content: space-between;
}
.dH3{
    width: 100%;
    margin-bottom: 20px;
}
.dCuatroPersonalidad{
    text-align: center;
    border: 2px solid #A786DF;
    padding: 15px 5px;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 100px;
    width: 30%;
}
.dCuatroImgPersonalidad{
    width: 40px;
}
.dCuatroParrafPersonalidad{
    width: 100%;

}
.dCinco{
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    width: 100%;
    align-items: center;
}
.dImgAutor{
    border: 4px solid #85D1CE;
    border-radius: 100px;
    width: 50px;
    margin-right: 10px;
}
.dContactar{
    background-color:#0E172C;
    color: #FFFFFE;
    padding: 5% 8%;
    border-radius: 30px;
    border: none;
    position: absolute;
    right: 20px;
}
.dDescription p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.005em;
    
    /* Grey */
    
    color: #535353;
}