body, .container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FEC7D7;
}

.content-img{
  width: 327px;
  min-height: 150px;
}
#img-animation{
    animation-duration: 5s;
    animation-name: img;
    display: block;
    margin: auto;
}
#text-cargar{
  color: #0E172C;
  font-weight: 1000;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}
@keyframes img {
    from {
        width: 31px;
      }
    
      to {
        width: 155px;
      }
}
