*{
    font-family: 'Nunito', sans-serif;
    color: #0E172C;
}
body{
    background-color: #FEC7D7;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    width: 360px;
    margin: auto;
}
.content-waiting{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 360px;
}
.img-animals-waiting{
    position: static;
    height: 327px;
}
.tittle-waiting{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.text-waiting{
    display: block;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 24px;
    padding: 0 5%;
    margin-bottom: 20%;
}
.btn-next-waiting{
    height: 48px;
    width: 295px;
    background-color: #0E172C;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
}
.btn-next-waiting p{
    align-self: center;
    color: #FFFFFE;
}
