*{
    font-family: 'Nunito', sans-serif;
    color: #0E172C;
}
body{
    background-color: #FEC7D7;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-waiting{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}
.img-animals-waiting{
    position: static;
    width: 327px;
    height: 327px;
    left: 0px;
    top: 0px;
    margin-top: 40px;
}
.tittle-waiting{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Nunito', sans-serif;
    width: 327px;
    text-align: center;
}
.text-waiting{
    font-weight: normal;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    width: 327px;
    text-align: center;
    line-height: 24px;
}
.btn-next-waiting{
    height: 48px;
    width: 295px;
    background-color: #0E172C;
    text-decoration: none;
    text-align: center;
    margin: auto;
    border-radius: 50px;
}
.btn-next-waiting p{
    align-self: center;
    color: #FFFFFE;
}